* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(158, 216, 243), rgb(174, 142, 250));
    color: white;
    margin: 0 auto;
}
header{
    width: 100%;
    position: fixed;
}
.img-logo{
    width: 100px;
}
.header, .menu{
    display: flex;
    flex-direction: row;
    text-align: center;
    
}
.header{
    box-shadow: 1px 1px 4px #59429d;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(229, 229, 238));
    height: 45px;
    justify-content: space-between;
    padding: 0 7%;
    
}
.menu{
    gap: 3em;
}
.menu a {
    color: #000000;
    transition: 1s;
    font-weight: bold;
}
nav li{
    display: inline-block;
}
nav li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 13.5px;
    
}
nav li a:hover{
    background-color: #174165;
}
.droop-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}
.droop-menu a {
    display: block;
    color: rgb(255, 255, 255);
    
}
.droop:hover .droop-menu{
    display: block;
    background-image: linear-gradient(to right, #a295c9, #7796b1);
}

.botao{
    font-size: 14px;
    background-image: linear-gradient(to right, #59429d, #174165);
    color: #ffffff;
    width: 140px;
    border-radius: 25px;
    height: 40px;
    cursor: pointer;
    outline: none;
    transition: 1s ease-in-out;
}
.botao:hover{
    color: #000000;
    background-image: linear-gradient(to right, #a295c9, #7796b1);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    border-radius: 25px;
}
.conteudo{
    width: 90%;
    margin: 0 auto;
    padding:  50px;
}
.divs{
    margin-top: 50px;
    display: flex;
    margin-left: 20%;
    
}
.float{
    float: left;
    margin-right: 50px;
    height: 180px;
}
.canequinha{
    width: 180px;
}