* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(158, 216, 243), rgb(174, 142, 250));
    color: white;
}
header{
    width: 100%;
    position: fixed;
}
.img-logo{
    width: 100px;
}
.header, .menu{
    display: flex;
    flex-direction: row;
    text-align: center;
    
}
.header{
    box-shadow: 1px 1px 4px #59429d;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(229, 229, 238));
    height: 45px;
    justify-content: space-between;
    padding: 0 7%;
    
}
.menu{
    gap: 3em;
}
.menu a {
    color: #000000;
    transition: 1s;
    font-weight: bold;
}
nav li{
    display: inline-block;
}
nav li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 13.5px;
    
}
nav li a:hover{
    background-color: #174165;
}
.droop-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}
.droop-menu a {
    display: block;
    color: rgb(255, 255, 255);
    
}
.droop:hover .droop-menu{
    display: block;
    background-image: linear-gradient(to right, #a295c9, #7796b1);
}
.botao{
    font-size: 14px;
    background-image: linear-gradient(to right, #59429d, #174165);
    color: #ffffff;
    width: 140px;
    border-radius: 25px;
    height: 40px;
    cursor: pointer;
    outline: none;
    transition: 1s ease-in-out;
}
.botao:hover{
    color: #000000;
    background-image: linear-gradient(to right, #a295c9, #7796b1);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    border-radius: 25px;
}
.responder{
    text-align: center;
    padding: 70px;
}

p{
    color: #ffffff;
    font-size: 19px;
    width: 80%;
    padding: 0 150px;
}
h1{
    color: #174165;
    text-transform: uppercase;
    text-decoration: underline;
    
    
}
h2{
    color: #59429d;
    text-align: center;
}
h3{
    margin-top: 25px;
    color: #000000;
}
.float{
    width: 95%;
    margin: 0 auto;
    margin-right: 15px;
    margin-top: 25px;
    
    
}
.divs{
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-content: space-between;
}
.alinhar{
    width: 50%;
    float: left;
    
}
.fake{
    width: 600px;
    height: 410px;
} 
.tx-vd{
    padding: 0px 40px;
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 20px;
    margin-left: 15px;
    text-align: center;
    height: 410px;
    display: flex;
    align-items: center;
}

.icones{
    width: 30%;
    padding: 0 90px;
}

.janela-modal{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background-color: #ffffff96;
}


.form {
    width: 60%;
    background-color: #fff;
    backdrop-filter: blur(10px);
    padding: 3rem;
    border: 5px solid #174165;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
   
}

.fechar {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    background-color: #59429d;
    color: #fff;
}
.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}


.login-button button {
    border: none;
    background-color: #174165;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    
    
}

.login-button button:hover {
    background-color: #527a9e;
    
}

.login-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 11rem;
    height: 0.3rem;
    background-color: #174165;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
    
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box label,
.gender-title h6 {
    font-size: 0.90rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    border: none;
    background-color: #174165;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    

}

.continue-button button:hover {
    background-color: #527a9e;
    transform: scale(1.1, 1.1);

}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}
label{
    font-size: 20px;
}
/*atualizar daqui para baixo*/

.campo-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.campo-input {
    display: flex;
    align-items: center;
}
.campo-input input {
    margin-right: 0.35rem;
}
.campo-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}
.select-title {
    font-size: 12px;
    margin-top: 3em;
    padding: 0 .5rem;
    
}
#senioridade{
    color: black;
    
}
.janela-modal.abrir{
    display: flex;
}
