* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(158, 216, 243), rgb(143, 105, 231));
    color: white;
}
.img-logo{
    width: 100px;

}
.header, .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    box-shadow: 1px 1px 4px #59429d;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(229, 229, 238));
    height: 45px;
    justify-content: space-between;
    padding: 0 7%;

}
.menu{
    gap: 3em;
}
.menu a {
    color: #000000;
    transition: 2s;
    font-weight: bold;    
}
.animation{
    background-color: #59429d;
    border-radius: 8px;
    padding: 4px;
}

.responder{
    text-align: center;
    padding-top: 30px;
    height: 100vh;
    transition: 1s;
}

