* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 80%; 
    height: 100%;
    padding-top: 150px;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgb(209, 209, 209), rgb(194, 140, 255));
   
   
}
.logo{
    width: 150px;
    height: 60px;
    position: relative;
    left: 50px;
    align-items: center;
}
 
header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #cbb9ff;

 
  
}
nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    position: relative;
    right: 120px;
}

.item{
    color: #174165;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 15px;
    position: relative;
    right: 100px;
    text-decoration: none;
    font-size: large;
}

nav button {
    cursor: pointer;
    background-color: #174165; /* Green */
    border: none;
    border-top: 1px solid #96d1f8;
    padding: 9.5px 19px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    vertical-align: middle;
    margin: 0 20px;
    position: relative;
    right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    width: 130px;
}
.botao:hover {
    background: #59429d;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 2);
    text-shadow: none;
    color: #d6c4f8;
}
.principal {
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    
}
h2, h1{
    text-align: center;
    color: #174165;
}
img{
    width: 100%; 
    max-width: 100%;
       
}
.divs{
    width: 100%;
    
}
.float{
    width: 45%;
    float: left;
    margin: 15px 30px;

    
    
}
p{
    text-align: center;
    text-align: justify;
}
.cursos{
    width: 100px;
    height: 100px;
    display: flex;
}
