* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blueviolet;
}
.form-login {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: white;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    animation: dark-to-light-background 0.3s ease-in-out;
}


#form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form-header h1 {
    font-size: 40px;
    position: relative;
}

#form-header h1::before {
    position: absolute;
    content: '';
    width: 40%;
    height: 3px;
    background-color: ;
    bottom: 10px;
    border-radius: 5px;
}

.rbdev {
    width: 50px;
    
   
}


#social-media {
    display: flex;
    justify-content: space-around;
}

#social-media img {
    width: 35px;
}

#social-media img:hover {
    transform: scale(1.2);
}


#inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.input-box>label {
    font-size: 14px;
    color: black ;
}

.input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    border-bottom: 1px solid ;
    cursor: text;
}

.input-field svg {
    font-size: 18px;
    cursor: text;
    color: black;
} 

.input-field input {
    border: none;
    width: 260px;
    background-color: transparent;
    font-size: 18px;
    padding: 0px 5px;
}

.input-field input:focus {
    outline: none;
}


#f_password a {
    text-decoration: none;
    color: gray;
    font-size: 12px;
}

#f_password a:hover {
    color: black;
}


#login-button {
    border: none;
    width: 100%;

    background:linear-gradient(to right, rgb(158, 216, 243), rgb(174, 142, 250));;
    padding: 7px;
    border-radius: 3px;
    color: #59429d;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

#login-button:hover {
    transform: scale(1.05);
}